version: "3.9"

services:
  client:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: next-dev
    environment:
      - NODE_ENV=development
    # ถ้าอยากให้แก้โค้ดใน host แล้ว dev server refresh:
    volumes:
      - .:/app
      - /app/node_modules
    expose:
      - "3000"

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx-dev
    ports:
      - "80:80"
    depends_on:
      - client
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
